<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">

    <title>New study</title>
  </head>
  <body>

  <div class="col-sm-8">
  <h1>New study</h1>
  <h2>Project</h2>
  <form class="needs-validation" novalidate>
      <div class="form-group row">
        <label for="projectTitle" class="col-sm-2 col-form-label">Project title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="projectTitle" placeholder="Project title" required>
          <div class="invalid-feedback">
            Please provide a project title.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="projectDescription" class="col-sm-2 col-form-label">Project description</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="projectDescription" rows="3" required></textarea>
          <div class="invalid-feedback">
            Please provide a project description.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12 text-right">
          <button class="btn btn-primary" id="nextButton" type="button">Next</button>
        </div>
      </div>

      <section id="ontology" class="invisible">
        <h2>Classification</h2>
        <div class="form-group row">
          <label for="genusSpecies" class="col-sm-2 col-form-label">Genus species</label>
          <div class="col-sm-10">
            <input type="text" class="form-control autocomplete" id="genusSpecies" placeholder="Genus species" required data-url="organisms">
            <div class="invalid-feedback">
              Please provide a valid genus species.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="organ" class="col-sm-2 col-form-label">Organ</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="organ" placeholder="Organ" required>
            <div class="invalid-feedback">
              Please provide a valid organ.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="organPart" class="col-sm-2 col-form-label">Organ part</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="organPart" placeholder="Organ part" required>
            <div class="invalid-feedback">
              Please provide a valid organ part.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="disease" class="col-sm-2 col-form-label">Disease</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="disease" placeholder="Disease" required>
            <div class="invalid-feedback">
              Please provide a valid disease.
            </div>
          </div>
        </div>
      </section>

      <section id="projectInformation" class="invisible">
        <h2>Project information</h2>
        <div class="form-group row">
          <label for="visibility" class="col-sm-2 col-form-label">Visibility</label>
          <div class="col-sm-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
              <label class="form-check-label" for="inlineRadio1">Private</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">Public</label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="workspace" class="col-sm-2 col-form-label">Workspace</label>
          <div class="col-sm-10">
            <select class="form-control" id="workspace">
              <option>Create a new workspace</option>
              <option>Workspace 1</option>
              <option>Workspace 2</option>
            </select>
            <small id="workspaceHelpBlock" class="form-text text-muted">
              All uploaded data files for studies are stored in FireCloud workspaces. If you do not already have a FireCloud account, you will receive an invitation email after you create your study.
            </small>
          </div>
        </div>

        <div class="form-group row">
          <label for="workspace" class="col-sm-2 col-form-label">Billing Project</label>
          <div class="col-sm-10">
            <select class="form-control" id="workspace">
              <option>Default project (no analysis possible)</option>
              <option>Workspace 1</option>
              <option>Workspace 2</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="licensing" class="col-sm-2 col-form-label">Licensing</label>
          <div class="col-sm-10">
            <select class="form-control" id="workspace">
              <option>CC BY ND 4.0</option>
              <option>CC-0</option>
              <option>CC BY</option>
              <option>ODC BY</option>
            </select>
            <small id="licensingHelpBlock" class="form-text text-muted">
              Get more information about licensing on <a href="https://creativecommons.org/licenses/">CreativeCommons.org</a>
            </small>
          </div>
        </div>

      <div class="form-group row">
        <div class="col-sm-12 text-right">
          <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
      </div>
      </section>

    </form>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- load global jquery. FIXME don't load two jQueries -->
    <script src="static/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="static/bootstrap.js"></script>

    <!-- Boostrap compatible jQuery plugin for autocomplete -->
    <script src="https://gitcdn.link/repo/xcash/bootstrap-autocomplete/master/dist/latest/bootstrap-autocomplete.min.js"></script>

    <script>
    $( "#nextButton" ).click(function() {
      $( this ).hide(),
      $( "#ontology" ).removeClass( "invisible" ),
      $( "#projectInformation" ).removeClass( "invisible" ),
      $( "#genusSpecies" ).val( "Homo sapiens" ),
      $( "#organ" ).val( "Brain" ),
      $( "#organPart" ).val( "Astrocyte" ),
      $( "#disease" ).val( "Glioblastoma" );
    });
    </script>

    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>

    <script src="static/autocomplete.js"></script>

  </body>
</html>
